.buttonsContainer {
    display: flex;
    column-gap: 24px;
    white-space: nowrap;

}

.responseContainer {
    display: flex;
    margin: 30px 0 30px 100px;
    column-gap: 80px;
}

.imageContainer {
    display: flex;
}

.image {
}

.textContainer{
    display: flex;
    flex-direction: column;
    max-width: 510px;
    justify-content: center;

}

.code {
    font-weight: 500;
    font-size: 30px;
    color: #000;
    margin-bottom: 15px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.info {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}