.sendForm {
    display: flex;
    column-gap: 44px;
    padding: 0px 70px 32px 70px;
    justify-content: space-between;

}

.textarea {
    border-radius: 20px;
    width: 976px;
    height: 40px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    resize: none;
    overflow: hidden;
    padding: 12px 0px 11px 24px;
}

.button {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background: #06c;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.button:hover {
    background: rgb(86, 152, 218);
}

.button:active {
    background: rgb(192, 193, 194);
}