.button {
    /* padding: 5px 24px; */
    /* width: 116px;
    height: 30px; */
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;

    border-radius: 3px;
    padding: 5px 24px;
    width: 141px;
    height: 30px;
    border: none;

}

.disabled {
    background: #004d99;
    opacity: 0.5;
    color: #d8d8d8;
}

.secondary {
    border: 1px solid #06c;
    color: #06c;
}

.default {
    background: #06c;
    color: #fff;
}

.red {
    background: #cc1439;
    color: #fff;
}

.default:hover {
    background: #0080ff;
}

.red:hover {
    background: #ff1a47;
}

.secondary:hover {
    background: #e5f0fa;
}


.default:active {
    background: #0059b2;
}

.secondary:active {
    background: #c9e5ff;
}


.red:active {
    background: #b21232;
}

.button:disabled {
    background: #004d99;
    opacity: 0.5;
}